body{	
	background-image:url(../images/background.png);	
	}


.title {
	text-align: center;
	font-size:50px;	
	}

.header {
	margin: 0 auto;
	width:95%;
	border:0.1rem solid white;
	box-sizing: border-box;
}

.biohazards {
			text-align: center;
			font-size: 25px;
			padding:1rem;			
			display: block;			
	}
	
	
.icon {		
		position:relative;
		float: left;
		display:inline;
		height:40px;
		width:40px;		
	}
	
	.icon > a {
		height:40px;
		width:40px;
		margin-top:20px;
		margin-right:10px;
	}
	
	
	
	.icon > a > img {
		width:80%;
		margin-left:10px;
		margin-top:10px;
		height:40px;
		width:40px;
		}
		
	
.icon2 {
		width:64px;
		position:relative;
		float: right;
		display:inline;
		height: 64px;		
	}
	
	.icon2 > a {
		display:block;
		width:100%;
	}
	
	.icon2 > a > img {
		width:80%;
		margin-left:10px;
		margin-top:10px;
		height:40px;
		width:40px;
		}
	
	
.tile__picture {
	width: 80%;
	margin: 0 auto;
	padding: 1rem;
	border: 0.1rem solid white;
	border-radius:5px;
	box-sizing: border-box;
	display: block;
	}
	
	.tile__picture > img  {
	width: 100%;
	
		
	}
	
	.tile__picture > a > img  {
	width: 100%;
	height:100%;
		
	}
	
.disease {
	position: relative;
	top: 15px;
	text-align:center;
	}
	
.white {
	height:100px;
	}
	
.space {
	height: 400px;	
	}
	
.footer{
	margin-top:50px;
	color:white;
	text-align:center;
	}
	
	.footer a {
		color:white;		
		}
	
