body{	
	background-image:url(../images/background.png);	
	}

.title {
	text-align: center;
	font-size:50px;	
	color:white;
	}

.header {
	margin: 0 auto;
	width:95%;
	border: 0.1rem solid white;
	box-sizing: border-box;
}

.biohazards {
			text-align: center;
			font-size: 25px;
			padding:1rem;			
			display: block;
			color:white;		
	}	
	
.icon {
		width:60px;
		position:relative;
		float: left;
		display:inline;		
	}
	
	.icon > a {
		display:block;
		width:100%;
	}	
	
	.icon > a > img {
	width:80%;
		margin-left:10px;
		margin-top:10px;
		height:40px;
		width:40px;
		}
	
.icon2 {
		width:64px;
		position:relative;
		float: right;
		display:inline;
		height: 64px;		
	}
	
	.icon2 > a {
		display:block;
		width:100%;
	}
	
	.icon2 > a > img {
		width:80%;
		margin-left:10px;
		margin-top:10px;
		height:40px;
		width:40px;
		}
		
		.canvas{			
			width:50%;
			height:50%;			
			}
		
.back{
	margin-top:40px;		
	float:right;
	font-size:25px;
	text-align:center;
	padding-top: 5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:5px;
	color:white;
	background: none;
	border: 0.1rem solid white;
	border-radius: 7px;
	text-decoration:none;
			}
			
.footer{
	color:white;
	text-align:center;
	}
	
	.footer a {
		color:white;		
		}		
				
