@charset "UTF-8";
/* CSS Document */

body{
	background-image:url(../images/background.png);
	}
		
	.tile__picture > img  {
	width: 100%;	
	}
	
	.icon_settings{
		height:40px;
		width:40px;
		margin-top:10px;
		margin-right:10px;		
		}

.titel{
	padding-left:30px;
	padding-top:20px;
	position:block;
	font-size:50px;
	color: white;
	margin: 0 auto;
	text-align:center;
	font-weight:bold;
	}

	
.Home{
		text-align:center;
		font-size:32px;
		padding-top:10px;
		padding-bottom:10px;
		margin-bottom:50px;
		border: 0.1rem solid white;
		color: white;
		font-weight:bold;
		padding-left:60px;
		}
		
		.cirkel{
			width:100%;
			height:100%;
			float:left;			
			}
		
.icon_settings{	
			float:right;
			}
			
.intro_tekst{
	text-align: center;
	padding-top:20px;
	font-size:17px;
	color: white;
	}	
		
		.zoekbalk{
			padding-top:50px;
			text-align:center;
			color: black;
			font-size:25px;
			box-sizing: border-box;
			background:none;
			}
			
.country{
	color:white;
	}
			
			
.searchbutton{
	font-size:15px;
	margin-left:19px;
	padding-top: 5px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	color:white;
	background: none;
	border: 0.1rem solid white;
	border-radius: 7px;
	text-decoration:none;	
	}		
	

.footer{
	color:white;
	text-align:center;
	}
	
	.footer a {
		color:white;
		
		}
	

		